.footer {
  display: flex;
  justify-content: space-around;
  background-color: #222;
  color: white;
  font-size: 15px;
  /* position:absolute;
left:0;
bottom:0;
right:0; */

}

.the_left_footer {
  width: 32%;
}
.the_center_footer {
  width: 42%;
}
.logo_center {
  margin-left: -28px;
}
.logo_center a {
  padding-left: 5%;
}
